<ion-view view-title="Main Menu"> 
	<ion-nav-buttons side="right">
    </ion-nav-buttons>
	<ion-content class='padding'>
		<a href='#/add' class="icon-left ion-plus button button-block button-calm"> Memorize New Text </a>
		<ion-list show-delete="shouldShowDelete">
			<ion-item ng-repeat="text in texts" class="item item-button-right" on-tap="memorize(text)" can-swipe="true">
			    <ion-option-button class="button-positive" on-tap="removeText($index)">
			      Delete
			    </ion-option-button>
				{{text.title}}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>