<ion-view view-title="Memorize - {{text.title}}">
	<ion-content class='padding'>
		<div class='centered gray'>
			<span>The slider at the bottom changes how much shows.</span>
		</div>
		<div class='card nice-font no-top-margin'>
			<ion-item class='item-text-wrap'>
				{{disp.text}}
			</ion-item>
		</div>
		<button on-tap="memorized()" class="button button-calm button-block">
			Memorized it!
		</button>
		<a href="#/text/{{text.id}}/history" class="button button-stable button-block">
			History
		</a>
	</ion-content>
	<ion-footer-bar>
		<div class="range full">
		  <i class="icon ion-eye-disabled"></i>
		  <input type="range" min=0 max={{disp.max}} ng-model='disp.curr' ng-change="disp.updated()" name="easiness">
		  <i class="icon ion-eye"></i>
		</div>	
	</ion-footer-bar>
</ion-view>